<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">

            <!-- include header html file -->
            <%-             include('common/header')        %>
            <div class="row">
                <div class="col-12 bg-info">
                    <h2>Bootstrapped HTML page using express ejs</h2>
                </div>
                <div>    <%=     data.name      %>                 </div>
                <div>    <%=     data.city      %>                 </div>
                <div>    <%=     data.pincode      %>                 </div>


                <%          if(data.pincode === 123123)         {   %>

                    <div>pincode is servicable.</div>

                <%          }           %>
            </div>

            <!-- include footer html page -->
            <%-             include('common/footer')        %>
        </div>
    </body>
</html>